<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Monitor</title>
    <link th:href="@{/cssandjs/main.css}" rel="stylesheet" />
</head>
<body th:class="${condition ? 'bg_green' : 'bg_red'}" marginheight="">
<div>
    <h1 id="title">Maintenance Monitor</h1>
    <h3 id="message" th:text="${message}"></h3>
    <h5 id="updatetime" th:text="'Last Update: ' +${time}">  </h5>
</div>
<script id="updateTimer">setInterval(location.reload(), 5000);</script>
</body>
</html>